<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src="../../node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
        <script src="../../node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
        <script src="../../node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>
    
    <script src="/public/js/main.js"></script>
    <title>Javascript Assessment</title>
</head>
<body>
    <div id="data">
    </div>
</body>
</html>